.shower {
  --accent: #3a2d72;
}

.shower .caption h1 {
  line-height: 1.2;
}


.shower .title.slide h2 {
  font-size: 2.75em;
  margin-bottom: -0.15em;
  font-style: italic;
}
.shower .title.slide h3 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.33;
  color: var(--dimmed);
}

.codecl code {
  font-size: 0.6em;
}

.right-align {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
